section
  h2 Contact me
  p Feel free to drop me an email to provide some feedback on my website, some suggestions, or to just say hello!
  p
    a.fragment(href="mailto:info@somallg.com") info@somallg.com

  h2.fragment Or Find me on
  ul.list-inline.banner-social-buttons.fragment
    li
      a.btn.btn-default.btn-lg(href="https://vn.linkedin.com/pub/tran-quang-duong/96/212/772")
        i.fa.fa-linkedin-square.fa-fw
        span.network-name LinkedIn
    li
      a.btn.btn-default.btn-lg(href="skype:duongtq4?chat")
        i.fa.fa-skype.fa-fw
        span.network-name Skype
    li
      a.btn.btn-default.btn-lg(href="https://github.com/somallg")
        i.fa.fa-github.fa-fw
        span.network-name GitHub
