head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title= title

  // Add favicon support
  link(type='image/x-icon', href='/favicon.ico', rel='shortcut icon')
  // Bootstrap Core CSS
  //link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
  // Animate CSS
  //link(rel='stylesheet', href='/vendor/animate.css/animate.min.css')
  // Custom CSS Fonts
  //link(rel='stylesheet', href='/vendor/font-awesome/css/font-awesome.min.css')
  // Reveal CSS
  //link(rel='stylesheet', href='/vendor/reveal.js/css/reveal.css')
  //link(rel='stylesheet', href='/vendor/reveal.js/css/theme/black.css', id='theme')
  // Font Mfizz
  //link(rel='stylesheet', href='/vendor/font-mfizz/css/font-mfizz.css')
  //link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic')
  //link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Montserrat:400,700')
  // Jquery Terminal CSS
  //link(rel='stylesheet', href='/vendor/jquery.terminal/css/jquery.terminal.css')
  // Custom CSS
  //link(rel='stylesheet', href='/css/grayscale.css')

  // Main css
  link(rel='stylesheet', href='/dist/css/main.min.css')


