header
    h1 Somallg
    p.
        A simple, responsive, one page website.
        <br/> Created with:
        <i class="icon-nodejs" style="color:blue"></i> Nodejs,
        <i class="icon-javascript" style="color:red"></i> Expressjs and
        <i class="fa fa-bold text-info"></i> Bootstrap
    a.btn(href='#/1')
        i.fa.fa-angle-double-right.infinite.animated.slideInLeft