header
  h1 Web.Simple
  p.
    A simple, responsive, one page website.
    <br/> Created with:
    <i class="icon-nodejs" style="color:blue"></i> <span class="nodejs">Nodejs</span>,
    <i class="icon-javascript" style="color:red"></i> <span class="expressjs">Expressjs</span> and
    <i class="fa fa-bold text-info"></i> Bootstrap
  a.btn(href='#/1')
    i.fa.fa-angle-double-right.infinite.animated.slideInLeft
