.content {
  min-height: 600px;
}

#home {
}

.text-big {
  font-size: 5em;
}

.border-top {
  border-top: 2px solid #ddd;
}

.border-bottom {
  border-bottom: 2px solid green;
}

.margin-bottom {
  margin-bottom: 30px;
}

.margin-top-50px {
  margin-top: 50px;
}

.margin-top {
  margin-top: 70px;
}

.padding-top {
  padding-top: 70px;
}
