extends layout

block content
  include includes/header
  div.reveal
    div.slides
      section(data-background='/img/intro-bg.jpg')
        include includes/intro
      section
        include includes/about
      section(data-background='/img/skills-bg.jpg')
        include includes/skills
      section
        include includes/contact
