<html>
    <head>
        <title>The MEAN Stack</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
        <script src="/assets/js/app.js"></script>
    </head>
    <body>
        <h1>Hello world</h1>
    </body>
</html>